### Limpieza
Aqui vamos a ir apuntando cosas a limpiar y corregir

- ~~**Cambiar los nombres de las columnas**~~ -> A minusculas y sin espacios
- ~~**Visit date**~~ -> Cambiar a tipo fecha
- ~~**Conversion**~~ ->Cambiar a str??
- ~~**Prodduct Category**~~ -> Cambiar a minúsculas. Cambiar 'Fashhion' a 'fashion'
- ~~**Product Id**~~ -> Cambiar a numérica??
- ~~**Product name**~~ -> Cambiar ' ' por '_' y a minusculas
- ~~**Price**~~ -> Tiene 40 nulos (2%). Cambiar ',' por '.' y cambiar a tipo float.
- ~~**Discount**~~ -> Tiene 40 nulos (2%). Cambiar ',' por '.' y cambiar a tipo float.
- ~~**Total Value**~~ -> Cambiar ',' por '.' y cambiar a tipo float.
- ~~**Payment Method**~~ -> Tiene 1753 (87.65%) nulos. Cambiar ' ' por '_' y a minusculas
- ~~**Shipping Method**~~ -> Parece que tiene muchos nulos. Cambiar ' ' por '_' y a minusculas
- ~~**Customer Age**~~ -> Tiene 40 nulos (2%). Cambiar a tipo int64
- ~~**Device**~~ -> Cambiar a minusculas
- ~~**Coupon Used**~~ -> Tiene 1753 (87.65%) nulos
- ~~**Browser**~~ -> Cambiar las categorias porque estan mal escritas
- ~~**Referral Source**~~ -> Cambiar a minusculas

In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv('../data/data_raw.csv')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
df = df_raw.copy()

### Cambiar nombre de las columnas

In [4]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [5]:
df.columns

Index(['user_id', 'group', 'visit_date', 'conversion', 'product_category',
       'product_id', 'product_name', 'quantity', 'price', 'discount',
       'total_value', 'payment_method', 'shipping_method', 'region',
       'customer_age', 'customer_gender', 'device', 'session_duration',
       'coupon_used', 'browser', 'referral_source'],
      dtype='object')

### Cambiar visit_date a fecha

In [6]:
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,total_value,payment_method,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source
1620,1621,A,2022-03-01,0,TOYS,P1241,Action Figure,0,"67,53","0,03","0,0",NaN,NaN,South,52.0,M,TABLET,16,NaN,Safaaaaari,Organic
1151,1152,B,2022-01-13,0,BEAUTY,P1801,Mascara,0,"115,59","0,27","0,0",NaN,NaN,North,64.0,M,Desktop,24,NaN,Ottttther,Social
1980,1981,A,2022-01-20,0,BOOKS,P1165,Science Fiction,0,NaN,"0,17","0,0",NaN,NaN,West,59.0,F,TABLET,16,NaN,Chrooome,PAID
824,825,B,2022-02-24,1,SPORTS,P1734,Football,3,"48,5","0,07","135,31",PayPal,Same day,East,67.0,F,Mobile,12,No,Firefoxxxxxx,Organic
1,2,B,2022-02-04,0,BEAUTY,P1400,Lipstick,0,"45,45","0,22","0,0",NaN,NaN,East,19.0,F,Desktop,10,NaN,Safaaaaari,Social

In [7]:
df['visit_date'] = pd.to_datetime(df['visit_date'], format = '%Y-%m-%d')

### Conversion
Vamos a crear una nueva columna, conversion str

In [8]:
df['conversion_str'] = df['conversion'].apply(lambda x: 'yes' if x == 1 else 'no')

In [9]:
df.loc[:,['conversion','conversion_str']].sample(5)

      conversion conversion_str
1729           0             no
1164           0             no
579            0             no
1012           0             no
1429           0             no

### Cambiar Prodduct Category a minúsculas. Cambiar 'Fashhion' a 'fashion'

In [10]:
df['product_category'] = df['product_category'].str.lower()

In [11]:
df['product_category'] = df['product_category'].str.replace('fashhion', 'fashion')

In [12]:
df['product_category'].unique()

array(['books', 'beauty', 'fashion', 'sports', 'toys', 'electronics',
       'home'], dtype=object)

### Product Id Cambiar a numérica

In [13]:
#Quitamos la P y luego modificamos el tipo de columna

df['product_id'] = df['product_id'].str.replace('P','')
df['product_id'] = df['product_id'].astype('int64')

In [14]:
df.sample()

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,total_value,payment_method,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
738,739,A,2022-01-24,0,electronics,1550,Laptop,0,"692,49","0,21","0,0",NaN,NaN,East,70.0,M,Desktop,5,NaN,Ottttther,Organic,no

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           2000 non-null   int64
 1   group             2000 non-null   object
 2   visit_date        2000 non-null   datetime64[ns]
 3   conversion        2000 non-null   int64
 4   product_category  2000 non-null   object
 5   product_id        2000 non-null   int64
 6   product_name      2000 non-null   object
 7   quantity          2000 non-null   int64
 8   price             1960 non-null   object
 9   discount          1960 non-null   object
 10  total_value       2000 non-null   object
 11  payment_method    247 non-null    object
 12  shipping_method   247 non-null    object
 13  region            2000 non-null   object
 14  customer_age      1960 non-null   float64
 15  customer_gender   2000 non-null   object
 16  device            2000 non-null   object
 17  session_duration  2000 non-null   int64
 18  coupon_used       247 non-null    object
 19  browser           2000 non-null   object
 20  referral_source   2000 non-null   object
 21  conversion_str    2000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(5), object(15)
memory usage: 343.9+ KB

### Product name. Cambiar ' ' por '_' y a minusculas

In [16]:
df['product_name'] = df['product_name'].str.replace(' ','_')

Aqui vemos que tenemos que volver a utilizar el codigo para hacerlas minusculas. Vamos a crear una funcion para no tener que repetir el codigo

In [ ]:
def minus(df, col):
    df[col] = df[col].str.lower()

In [18]:
minus (df,'product_name')

In [19]:
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,total_value,payment_method,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
1596,1597,A,2022-02-02,0,books,1071,biography,0,"39,62","0,24","0,0",NaN,NaN,North,45.0,M,Mobile,28,NaN,Ottttther,Organic,no
1627,1628,B,2022-02-28,0,beauty,1416,mascara,0,"89,67","0,2","0,0",NaN,NaN,North,60.0,F,Mobile,12,NaN,Ottttther,Organic,no
1563,1564,A,2022-02-04,0,toys,1739,action_figure,0,"97,52","0,02","0,0",NaN,NaN,South,66.0,M,Mobile,5,NaN,Safaaaaari,PAID,no
956,957,B,2022-01-28,1,electronics,1701,laptop,3,"258,87","0,16","652,35",Bank Transfer,Standard,Central,30.0,F,Desktop,17,No,Eddddge,Social,yes
1789,1790,B,2022-02-12,0,home,1079,chair,0,"294,62","0,13","0,0",NaN,NaN,Central,28.0,F,Desktop,11,NaN,Firefoxxxxxx,PAID,no

### Price, discount y total value Cambiar ',' por '.' y cambiar a tipo float.
Igual vamos a crear una funcion porque la vamos a utilizar mas veces

In [20]:
def comas (df,col):
    df[col] = df[col].str.replace(',','.')
    df[col] = df[col].astype('float64')

In [21]:
comas (df, 'price')

In [22]:
comas (df, 'discount')
comas (df, 'total_value')

In [23]:
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,total_value,payment_method,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
89,90,A,2022-03-29,0,toys,1056,board_game,0,54.93,0.15,0.0,NaN,NaN,North,47.0,F,TABLET,19,NaN,Eddddge,Organic,no
507,508,B,2022-01-28,0,home,1129,table,0,193.17,0.26,0.0,NaN,NaN,West,49.0,F,TABLET,25,NaN,Ottttther,Social,no
80,81,B,2022-01-22,0,electronics,1011,camera,0,647.86,0.24,0.0,NaN,NaN,West,25.0,F,Desktop,24,NaN,Safaaaaari,Organic,no
1557,1558,A,2022-02-07,0,books,1643,novel,0,40.56,0.27,0.0,NaN,NaN,South,67.0,F,TABLET,17,NaN,Ottttther,Organic,no
1598,1599,A,2022-01-16,0,fashion,1637,dress,0,153.47,0.23,0.0,NaN,NaN,East,NaN,F,TABLET,23,NaN,Eddddge,Email,no

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           2000 non-null   int64
 1   group             2000 non-null   object
 2   visit_date        2000 non-null   datetime64[ns]
 3   conversion        2000 non-null   int64
 4   product_category  2000 non-null   object
 5   product_id        2000 non-null   int64
 6   product_name      2000 non-null   object
 7   quantity          2000 non-null   int64
 8   price             1960 non-null   float64
 9   discount          1960 non-null   float64
 10  total_value       2000 non-null   float64
 11  payment_method    247 non-null    object
 12  shipping_method   247 non-null    object
 13  region            2000 non-null   object
 14  customer_age      1960 non-null   float64
 15  customer_gender   2000 non-null   object
 16  device            2000 non-null   object
 17  session_duration  2000 non-null   int64
 18  coupon_used       247 non-null    object
 19  browser           2000 non-null   object
 20  referral_source   2000 non-null   object
 21  conversion_str    2000 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(5), object(12)
memory usage: 343.9+ KB

### Payment Method y shipping method Cambiar ' ' por '_'
Creamos otra funcion

In [25]:
def espacios(df, col):
    df[col] = df[col].str.replace(' ', '_')

In [26]:
espacios (df, 'payment_method')
espacios (df, 'shipping_method')
minus (df, 'payment_method')
minus (df, 'shipping_method')

### Cambiar Device, browser y Referral a minus

In [27]:
minus (df, 'device')
minus (df, 'referral_source')
minus (df, 'browser')

In [28]:
df.sample(10)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,price,discount,total_value,payment_method,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str
375,376,A,2022-02-07,0,fashion,1994,jeans,0,105.51,0.08,0.00,NaN,NaN,East,51.0,Other,mobile,12,NaN,ottttther,social,no
1907,1908,A,2022-02-28,0,beauty,1600,lipstick,0,67.89,0.15,0.00,NaN,NaN,South,53.0,F,mobile,15,NaN,chrooome,organic,no
1281,1282,B,2022-03-02,0,home,1481,sofa,0,184.82,0.24,0.00,NaN,NaN,South,31.0,F,desktop,23,NaN,eddddge,email,no
1267,1268,A,2022-03-10,1,beauty,1688,mascara,4,38.32,0.21,121.09,bank_transfer,same_day,North,30.0,M,desktop,28,No,chrooome,organic,yes
1546,1547,B,2022-02-05,0,fashion,1485,dress,0,20.78,0.13,0.00,NaN,NaN,West,33.0,M,desktop,9,NaN,eddddge,paid,no
1486,1487,A,2022-01-10,0,fashion,1703,jeans,0,37.86,0.19,0.00,NaN,NaN,North,55.0,F,tablet,23,NaN,eddddge,email,no
1993,1994,A,2022-03-16,0,electronics,1319,laptop,0,801.98,0.24,0.00,NaN,NaN,West,69.0,M,desktop,25,NaN,ottttther,paid,no
810,811,B,2022-03-06,1,electronics,1462,camera,4,NaN,0.22,1013.06,paypal,express,East,25.0,F,tablet,7,Yes,ottttther,organic,yes
1871,1872,A,2022-03-03,0,beauty,1382,lipstick,0,52.61,0.08,0.00,NaN,NaN,South,60.0,M,desktop,27,NaN,safaaaaari,paid,no
1098,1099,B,2022-01-21,0,fashion,1835,jeans,0,92.06,0.19,0.00,NaN,NaN,West,19.0,M,desktop,23,NaN,firefoxxxxxx,paid,no

### Browser cambiar las categorias que estan mal

In [33]:
df['browser'].unique()

array(['safari', 'other', 'firefox', 'edge', 'chrome'], dtype=object)

In [31]:
dicc_map = {'safaaaaari' : 'safari',
            'ottttther' : 'other',
            'firefoxxxxxx' : 'firefox',
            'eddddge' : 'edge',
            'chrooome' : 'chrome'}

In [32]:
df['browser'] = df['browser'].map(dicc_map)